@using FoodDelivery.Domain.Domain
@model FoodDelivery.Domain.Domain.Restaurant

@{
    var categories = ViewBag.Categories as List<Category>;
    var foodCategories = ViewBag.FoodCategories as List<FoodCategory>;
}

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="text-center">
        <img class="img-fluid cover" src="">
    </div>
    <div class="container">
        <div class="container">
            <div class="row d-flex align-items-md-end">
                <div class="col-md-8">
                    <div class="container">
                        <h1 class="text-black">@Model.Name</h1>
                    
                    <div>
                        <p>@Model.IsAvailable.Value</p>
                    </div>
                    <a class="text-black mb-1 mt-1 fs-20">
                        @Model.Location
                    </a>
                </div>
                </div>
                <div class="col-md-4">
                    <div class="text-right">
                        <button class="btn btn-warning m-lg-2 plxs-0" type="button">@Model.DeliveryTime</button>
                        <button class="btn btn-warning m-lg-2 plxs-0" type="button">@Model.Rating</button>
                        <a class="btn btn-warning ml-2">Add to Favorites</a>
                        <button class="btn btn-warning text-white m-lg-2">Info</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="sticky-md-top bg-white border-top-0 shadow-sm">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="nav" role="tablist">
                    @foreach(var category in categories)
                    {
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#@category.Name" role="tab">@category.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <p class="text-black">@Model.Menu.Count</p>
    </div>
</section>

@if (@Model.Owner.Role == FoodDelivery.Domain.Enumerations.UserRole.OWNER)
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Restaurants" asp-action="CreateMenu" asp-route-id="@Model.Id">Create Menu</a>
    </li>
}

<section>
    <div class="container">
        <h4>Menu</h4>
        <hr />
        @if (Model.Menu != null && Model.Menu.Any())
        {
            var groupedMenu = Model.Menu.GroupBy(m => m.FoodCategory.Name);

            @foreach (var group in groupedMenu)
            {
                <h5>@group.Key</h5>
                <ul class="list-group">
                    @foreach (var item in group)
                    {
                        <li class="list-group-item">
                            <h6>@item.Name</h6>
                            <p>@item.Description</p>
                            <p>Price: @item.Price</p>
                        </li>
                    }
                </ul>
            }
        }
        else
        {
            <p>No items in the menu.</p>
        }
    </div>
</section>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
