@using FoodDelivery.Domain.Domain

@{
    ViewData["Title"] = "Index";
}

@{
    var restaurants = ViewBag.Restaurants as List<Restaurant>;
}

<p>
    <a asp-action="Create">Add New Restaurant</a>
</p>

@if (restaurants.Count == 0)
{
        <p>No restaurants found</p>
}
else{
    <p>Restaurants you own:</p>


<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Location
            </th>
            <th>
                Latitude)
            </th>
            <th>
                Longitude
            </th>
            <th>
                Rating
            </th>
            <th>
                IsAvailable
            </th>
            <th>
                DeliveryTime
            </th>
            <th>
                WorkingFrom
            </th>
            <th>
                WorkingTo
            </th>
            <th>
                PhoneNumber
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in restaurants) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Latitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitude)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingTo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
}